.menu {
  display: flex;
  padding-right: 24px;
  padding-top: 8px;
  .icon {
      margin-right: 24px;
      width: 22px;
      height: 22px;
      
      &:hover {
          cursor: pointer;
      }
  }

  .profileIcon {
      margin-top: -3px;
      margin-right: 24px;
  }

}