@import "/variables";

.navigation {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: $background-white;
  width: 100%;
  border-bottom: 1px solid $border-color-grey;

  .container {
    padding: 8px 0 4px 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;

    .logo {
      padding-top: 15px;
      width: 100px;

      &:hover {
        cursor: pointer;
      }
    }

    .searchText {
      width: 215px;
      height: 30px;
      letter-spacing: .5px;
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid $border-color-grey;
      outline: none;
      margin-top: 10px;
      margin-bottom: 12px;
      background: #fafafa;
      background-image: url("../images/searchIcon.png");
      background-size: 10px;
      background-repeat: no-repeat;
      background-position: 65px 8px;
      text-align: center;
    }

    input:focus {
      padding-left: 30px;
      background-color: #ffffff;
      background-image: url('../images/cancel.png');
      background-position: 190px 7.5px;
      background-repeat: no-repeat;
      background-size: 13px;
      text-align: left;
      letter-spacing: .5px;
      color: #000;
    }
  }
}

@media only screen and (max-width: 500px) {
  .search {
    display: none !important;
  }
}
